Salut {{Françoise}},<br>
<br>
<br>
Comment {{vas}} {{tu}} ?<br>
<br>
Comme {{tu}} le {{sais}} déjà, avec Jean, nous allons nous PACSer !<br>
<br>
Pour ce fêter ça, {{tu}} {{es}} convié{{e}}{% if Marie %} avec {{Marie}}{% endif %}, <b>samedi 1er Juin</b> à Paris pour
{% if family.invited_midday %}un déjeuner en famille{% if family.invited_afternoon %}, {%elif family.invited_evening%} et {%else%}.{%endif%}{%endif%}
{% if family.invited_afternoon %}une après-midi melting pote{%if family.invited_evening%} et {%else%} !{%endif%}{%endif%}
{% if family.invited_evening %}une soirée d'enfer !{%endif%}<br>
<br>
<b>Save the date !</b><br>
<br>
<br>
Marie