{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} action-add-to-event{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {{action_short_description}}
</div>
{% endblock %}
{% endif %}

{% block content %}
<h1>{{action_short_description}}</h1>
<form method="POST">
    {% csrf_token %}
    <fieldset class="module aligned ">
        {{ form.as_p }}
    </fieldset>
    <fieldset class="module aligned ">
        <h2>{% blocktrans %}Selected{% endblocktrans %} {{ opts.verbose_name_plural }}</h2>
        <p class="queryset">
            <dl>
                {% for item in queryset %}
                <li>{{item}}</li>
                {% endfor %}
            </dl>
        </p>
    </fieldset>
    <input type="submit" />
</form>
{% endblock %}
